name: Build PR

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
      - name: Install SDK components
        run: |
          sdkmanager --install "platform-tools" "platforms;android-36" "build-tools;36.0.0"
          yes | sdkmanager --licenses

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: "temurin"

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-disabled: true
          cache-cleanup: on-success

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Restore Persistent Keystore
        run: |
          echo "${{ secrets.DEBUG_KEYSTORE }}" | base64 -d > ./app/persistent-debug.keystore

      - name: Build and Lint Universal Debug APK
        run: ./gradlew --no-configuration-cache --console=plain clean assembleUniversalFossDebug :app:lintUniversalFossDebug --warning-mode summary
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          PULL_REQUEST: 'true'
          LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
          LASTFM_SECRET: ${{ secrets.LASTFM_SECRET }}

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: app-universal-debug-pr-${{ github.event.number }}
          path: app/build/outputs/apk/universalFoss/debug/*.apk
